.profileContainer {
  background-image: url('https://assets.ccbp.in/frontend/react-js/profile-bg.png');
  background-size: cover;
  width: 26vw;
  height: 48vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-left: 2vw;
  padding-top: 3vh;
  margin-top: 5vh;
}

.profileImage {
  width: 7vw;
  height: 15vh;
}

.userName {
  font-size: 30px;
  color: #6366f1;
  font-family: 'Roboto';
}

.shortBio {
  color: #2c364c;
  font-size: 18px;
  width: 25vw;
}

.failureViewContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 26vw;
  height: 48vh;
}

.retryButton {
  background-color: #6366f1;
  color: white;
  width: 11vw;
  height: 6vh;
  border: none;
  border-radius: 3px;
}

@media screen and (max-width: 425px) {
  .profileContainer {
    width: 90vw;
    height: 45vh;
    background-size: cover;
    border-radius: 15px;
  }
  .shortBio {
    width: 80vw;
    font-size: 16px;
  }
  .profileImage {
    width: 13vw;
    height: 12vh;
  }
  .userName {
    font-size: 30px;
  }
}

@media screen and (min-width: 426px) and (max-width: 768px) {
  .profileContainer {
    width: 70vw;
    height: 50vh;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }
  .userName {
    width: 50vw;
  }
  .shortBio {
    width: 60vw;
  }
}

@media screen and (min-width: 769px) {
  .profileContainer {
    border-radius: 20px;
    height: 50vh;
  }
  .shortBio {
    margin-top: -2vh;
    margin-left: -1vw;
  }
  .userName {
    margin-left: -1vw;
  }
}
