.totalPage {
  background-color: #000000;
  width: 100vw;
}

.jobsPageContainer {
  display: flex;
  align-items: flex-start;
  width: 100%;
}

.profileBarContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 30vw;
}

.employmentTypeListContainer {
  width: 32vw;
  align-items: flex-start;
  line-height: 1.7;
}

.employmentTypeList {
  list-style-type: none;
  color: white;
  font-size: 18px;
}

.hrLine {
  width: 26vw;
  border: 1px solid #bcbcbc;
  margin-top: 4vh;
}

.typesOfEmploymentHeading {
  color: white;
  font-size: 20px;
  width: 26vw;
  text-align: left;
}

.jobDetailsContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.eachJobDetailsContainer {
  width: 60vw;
}

.searchContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 20vw;
  height: 5vh;
  border: 1px solid white;
  margin-bottom: 5vh;
  margin-top: 5vh;
}

.searchBar {
  background-color: transparent;
  outline: none;
  border-radius: 5px;
  width: 15vw;
  height: 5vh;
  color: #ffffff;
  border: none;
  padding-left: 5px;
}

.searchIconButton {
  background-color: #202020;
  color: white;
}

.searchIcon {
  height: 3vh;
  width: 3vw;
}

.failureView {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60vw;
}

.failureHeading {
  color: white;
}

.failureText {
  color: #bcbcbc;
}

.loader-container-jobs {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
  width: 60vw;
}

@media screen and (max-width: 770px) {
  .jobsPageContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
  }
  .profileBarContainer {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 6vw;
  }
  .hrLine {
    width: 90vw;
  }
  .typesOfEmploymentHeading {
    width: 50vw;
  }
  .employmentTypeListContainer {
    width: 50vw;
  }
  .jobDetailsContainer {
    width: 100vw;
  }
  .searchContainer {
    width: 55vw;
    height: 7vh;
    align-self: center;
  }
}
